<body>
<div class="container">
  <h1 > Pharmacy Registration </h1>


  <form method="POST" action="">

    <div class="row">
      <div class="col">
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Owner full name" required>
        </div>
      </div>

      <div class="col">
        <div class="input-group-prepend">
          <div class="input-group-text">+216</div>
          <div class="form-group">
          <input type="number" class="form-control"  placeholder="Phone Number">
          </div>
        </div>


      </div>
      <div class="col">
        <div class="form-group">
        <input placeholder="Creation Date" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
        </div>
      </div>




    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Location">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="E-mail">
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Insurance company name">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
        <input type="number" class="form-control" placeholder="Insurance policy Number">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Pharmacy Name">
        </div>

      </div>
      <div class="col">
        <div class="form-group">
        <button type="button" class="btn btn-outline-dark">Check availability</button>
        </div>
      </div>
      <div class="col">   </div>
      <div class="col">    </div>


    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
        <button style="width: 100%;" type="submit" class="btn btn-dark">Register</button>
        </div>
      </div>

    </div>

  </form>
</div>
</body>
