<body >
<nav class="navbar navbar-expand-lg navbar-light bg-light " >
  <div class="container">
    <a routerLink="/" class="navbar-brand"><h3 style="margin: 0;padding: 0;">HealthCare <i class="fas fa-heartbeat"></i></h3> </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">



          <form class="form-inline"  method="POST" >
            <div class="form-group">
              <li class="nav-item">
              <i class="fas fa-user" ></i>
              <input ngModel type="text" name="username"  id="username" #username="ngModel" class="form-control form-control-sm" placeholder="Username" required>

              </li>
            </div>

            <div class="form-group">
              <li class="nav-item">
              <i class="fas fa-lock"></i>
              <input ngModel type="password" name="userpw" id="userpw" #userpw="ngModel" class="form-control form-control-sm" placeholder="Password" required>

              </li>
            </div>
            <div class="form-group">
              <li class="nav-item">
              <button ngForm class="btn btn-dark" type="submit" #loginsubmit="ngForm" name="sign-in"> Sign-In </button>
           <!--
                <div class="alert alert-danger" *ngIf="!loginsubmit.valid " >Login Failed</div>
                <div class="alert alert-success" *ngIf="loginsubmit.valid" >Login Successful</div>
            -->
              </li>
            </div>
          </form>



        <li class="nav-item">

          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Register As
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" routerLink="./patient-registration">Patient</a>
              <a class="dropdown-item" routerLink= "./doctor-registration">Doctor</a>
              <a class="dropdown-item" routerLink= "./pharmacy-registration">Pharmacy</a>
              <a class="dropdown-item" routerLink="./insurance-company-registration">Insurance company</a>

            </div>
          </div>
        </li>



      </ul>
    </div>
  </div>
</nav>

</body>
